<%- include("partials/header.ejs") %>
<h1>Get to know me better!</h1>
<img class="profile" src="images/portfolio-pic.jpeg" alt="profile picture" />
<section id="about">
  <div class="about-container">
    <h2>About Me</h2>
    <div class="paragraph-container">
      <p>
        I thrive on unraveling complexities and translating ideas into seamless
        digital experiences. Beyond the screen, I find inspiration in the worlds
        of gaming and the exhilarating trails of mountain biking, where I meet
        challenges with a sense of adventure. Join me in exploring the
        intersection of technology and creativity.
      </p>
    </div>
    <hr />
    <h3>Technical Background</h3>
    <div class="paragraph-container">
      <p>
        My tech journey began early with a fascination for computers; I spent
        much time assisting my uncle with computer projects. At 18, I built my
        first computer and became the go-to person for computer upgrades,
        repairs, and troubleshooting. Fast forward to 2023, a pivotal year when
        I decided to pursue my childhood dream of becoming a game developer.
        Learning to code opened up a new realm of possibilities. Since then,
        I've immersed myself in coding, transforming my passion into a technical
        skill that fuels my pursuit of game development.
      </p>
    </div>
    <hr />
    <h3>Hobbies</h3>
    <div class="paragraph-container" id="last-paragraph-container">
      <p>
        Throughout my life, I've had a trifecta of passions: gaming, mountain
        biking, and immersing myself in nature. With my Dad, I've conquered
        video game challenges and explored local trails on our mountain bikes
        since childhood, creating enduring memories. Adding to this, I find
        solace and adventure in hiking, especially with my wife and kids.
        Exploring nature rejuvenates the soul, making beautiful moments within
        our family life. Whether the thrill of a challenging mountain bike trail
        or a serene hike surrounded by loved ones, I relish every moment of
        embracing nature.
      </p>
    </div>
  </div>
</section>
<%- include("partials/footer.ejs") %>
