<%- include("partials/header.ejs") %>

<h1>I'm Christian,</h1>

<p>a programmer.</p>

<section id="skills">
  <div class="skills-container">
    <h2>Skills</h2>
    <ul>
      <li>
        <img
          class=""
          data-src="images/leansixsigma-logo.PNG"
          alt="Lean Six Sigma"
        />
        <p>Lean Six Sigma</p>
      </li>
      <li>
        <img class="" data-src="images/html-logo.PNG" alt="HTML" />
        <p>HTML 5</p>
      </li>
      <li>
        <img class="" data-src="images/css-logo.PNG" alt="CSS" />
        <p>CSS 3</p>
      </li>
      <li>
        <img class="" data-src="images/javascript-logo.PNG" alt="JavaScript" />
        <p>JavaScript</p>
      </li>
      <li>
        <img class="" data-src="images/jquery-logo.PNG" alt="jQuery" />
        <p>jQuery</p>
      </li>
      <li>
        <img class="" data-src="images/nodejs-logo.PNG" alt="Node.js" />
        <p>Node.js</p>
      </li>
      <li>
        <img class="" data-src="images/reactjs-logo.PNG" alt="React.js" />
        <p>React.js</p>
      </li>
      <li>
        <img class="" data-src="images/mysql-logo.PNG" alt="MySQL" />
        <p>MySQL</p>
      </li>
      <li>
        <img class="" data-src="images/github-logo.PNG" alt="GitHub" />
        <p>GitHub</p>
      </li>
      <li>
        <img class="" data-src="images/excel-logo.PNG" alt="Excel" />
        <p>Excel</p>
      </li>
    </ul>
  </div>
</section>
<hr />

<%- include("partials/footer.ejs") %>

<!-- Asynchronous Image Loading Script -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const images = document.querySelectorAll("img[data-src]");

    images.forEach((img) => {
      img.src = img.getAttribute("data-src");
      img.removeAttribute("data-src"); // Optional cleanup after loading
    });
  });
</script>
