<%- include("partials/header.ejs") %>

<h1>I'm Christian,</h1>
<h1>Testing Testing 123</h1>

<p>a programmer.</p>

<section id="skills">
  <div class="skills-container">
    <h2>Skills</h2>
    <ul>
      <li>
        <img
          class=""
          src="images/leansixsigma-logo.PNG"
          alt="Lean Six Sigma"
          loading="lazy"
        />
        <p>Lean Six Sigma</p>
      </li>
      <li>
        <img class="" src="images/html-logo.PNG" alt="HTML" loading="lazy" />
        <p>HTML 5</p>
      </li>
      <li>
        <img class="" src="images/css-logo.PNG" alt="CSS" loading="lazy" />
        <p>CSS 3</p>
      </li>
      <li>
        <img
          class=""
          src="images/javascript-logo.PNG"
          alt="JavaScript"
          loading="lazy"
        />
        <p>JavaScript</p>
      </li>
      <li>
        <img
          class=""
          src="images/jquery-logo.PNG"
          alt="jQuery"
          loading="lazy"
        />
        <p>jQuery</p>
      </li>
      <li>
        <img
          class=""
          src="images/nodejs-logo.PNG"
          alt="Node.js"
          loading="lazy"
        />
        <p>Node.js</p>
      </li>
      <li>
        <img
          class=""
          src="images/reactjs-logo.PNG"
          alt="React.js"
          loading="lazy"
        />
        <p>React.js</p>
      </li>
      <li>
        <img class="" src="images/mysql-logo.PNG" alt="MySQL" loading="lazy" />
        <p>MySQL</p>
      </li>
      <li>
        <img
          class=""
          src="images/github-logo.PNG"
          alt="GitHub"
          loading="lazy"
        />
        <p>GitHub</p>
      </li>
      <li>
        <img class="" src="images/excel-logo.PNG" alt="Excel" loading="lazy" />
        <p>Excel</p>
      </li>
    </ul>
  </div>
</section>

<hr />

<%- include("partials/footer.ejs") %>
