<%- include("partials/header.ejs") %>
<main>
  <h1>Thank You!</h1>
  <p>Your message has been sent. I will get back to you soon.</p>
  <a href="/">Back to Home</a>
</main>
<%- include("partials/footer.ejs") %>
